:root {
    --background-color: #011C32;
    --header-color: #01223D;
    --accent-color: #05D939;
    --accent-color-shade: #025834;
    --neutral-color: #e0e0e0;
    --label-color: #05D939;

    --mono-font: 'DM Mono', monospace;
    --sans-font: 'DM Sans', sans-serif;
}

html {
    font-size: 14px;
    font-family: var(--sans-font);
}

body {
    background-color: var(--background-color);
    color: var(--neutral-color);
}

*:focus {
    box-shadow: none !important;
}

@media (max-width: 640px) {
    html {
        font-size: 10px;
    }
}