.container-fluid {
    background-color: var(--header-color);
}

section {
    padding: 50px 10%;
}

header a {
    margin: 0 30px;
    border-bottom: solid 2px transparent !important;
}

header a:hover {
    border-bottom: solid 2px #05D939 !important;
}

.picture {
    width: 250px;
    height: 250px;
}

.about {
    width: 60%;
}

.img-container {
    width: 40%;
}

.subtitle,
.modal-title a {
    color: var(--accent-color);
    font-family: var(--mono-font);
}

.tag {
    display: flex;
    align-items: center;
    color: var(--label-color);
    background-color: var(--accent-color-shade);
    padding: 10px;
    border-radius: 5%;
    font-weight: 600;
    height: 35px;
    margin: 5px;
}

.about .tag {
    margin: 0 15px 25px;
    padding: 10px 30px;
}

.img-footer {
    width: 250px;
    text-align: center;
}

.card {
    color: var(--neutral-color);
}

.card,
.card-header,
.card-body,
.card-footer {
    border: 1px solid var(--accent-color-shade);
}

.card-subtitle {
    font-size: 0.7rem;
    color: var(--neutral-color) !important;
}

i {
    font-size: 2rem;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects a,
footer a {
    text-decoration: none;
    color: var(--neutral-color);
}

#projects .card:hover {
    border: 1px solid var(--neutral-color);
    opacity: 0.5;
}

#projects .card {
    height: 100%;
}

footer {
    height: 70px;
    margin-top: 50px;
    border-top: solid 1px var(--accent-color-shade);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

footer .subtitle {
    font-size: 1.2rem;
}

.toggle {
    height: 30px;
    width: 70px !important;
    border: 1px solid rgb(169, 169, 169);
}

.toggle:checked {
    background-color: var(--accent-color-shade);
    border: 1px solid white;
}

.aux-nav {
    position: absolute;
    margin-top: -50px;
}

.hello {
    text-align: center;
    margin-bottom: 40px;
}

#story iframe {
    width: 560px;
    height: 315px;
}

blockquote {
    width: 323px !important;
    height: 568px;
    margin: 0 !important;
}

blockquote iframe {
    margin-top: -6px;
}

.modal-content {
    background-color: var(--modal-color);
}

.modal-title a {
    text-decoration: none;
}

.collage {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    flex-direction: row;
}

.bg {
    width: 25%;
    padding-top: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

/* RESPONSIVE (1050 PX) */

@media (max-width: 1050px) {
    section {
        padding: 50px 5% 0px;
    }

    a:hover {
        border-bottom: none;
    }

    .picture {
        width: 150px;
        height: 150px;
    }

    .img-footer {
        width: 100%;
    }

    .toggle {
        height: 20px;
        width: 50px !important;
    }

    #about {
        flex-direction: column;
        align-items: center;
    }

    .about,
    .img-container {
        width: 80%;
    }

    .img-container {
        align-items: center;
    }

    .hello {
        text-align: center;
        margin-top: 40px;
    }
}

/* RESPONSIVE (991 PX) */

@media (max-width: 991px) {
    a:hover {
        border-bottom: none;
    }

    .aux-nav {
        margin-top: -180px;
    }

    #story iframe {
        width: 80%;
        height: 230px;
    }
}

/* RESPONSIVE (640 PX) */

@media (max-width: 640px) {

    .about,
    .img-container {
        width: 90%;
    }

    .about .tag {
        margin: 0 7px 15px;
        padding: 5px 15px;
    }

    #experience .card {
        width: 100% !important;
    }

    #story iframe {
        width: 100%;
        height: auto;
    }

    .collage {
        flex-direction: row;
    }

    .line {
        width: 50%;
        flex-direction: column;
    }

    .bg {
        width: 100%;
        padding-top: 100%;
    }
}

@media (max-width: 405px) {

    blockquote,
    blockquote iframe {
        width: 100% !important;
        /*height: auto;*/
    }
}